.index__wrapper {
  height: 100vh;
  width: 100%;
  background-color: $color-black;
}

.hero {
  height: 100%;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      display: block;
      display: relative;
    }
  }

  &__text-box {
    flex-basis: 50%;
    text-align: center;

    @media (max-width: 1200px) {
      flex-basis: 70%;
    }

    @media (max-width: 800px) {
      position: relative;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }

    .fullname {
      font-size: 5rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 600;
      letter-spacing: 0.2rem;

      @media (max-width: 600px) {
        font-size: 3rem;
        letter-spacing: 0.1rem;
      }
    }

    .jobdesc {
      font-size: 2rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      letter-spacing: 0.2rem;

      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    }
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
      flex-basis: 30%;
    }

    @media (max-width: 800px) {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 8%;
    }

    &__list {
      font-size: 1.8rem;

      @media (max-width: 800px) {
        display: flex;
      }

      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    }

    &__item {
      padding-bottom: 3rem 0;
      font-family: "Roboto Mono", monospace;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      &:not(:last-child) {
        margin-bottom: 4rem;

        @media (max-width: 800px) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }

    &__link {
      transition: 0.2s ease-in-out text-decoration;

      &:hover {
        text-decoration: line-through;
      }
    }
  }
}
